<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string></string>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://123.59.87.254:7890/211/Shs_project.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://123.59.87.254:7890/full_size_image@2x.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://123.59.87.254:7890/display-image@2x.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ham.shs</string>
				<key>bundle-version</key>
				<string>2.1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>iPad客户端</string>
				<key>title</key>
				<string>是否下载HAM智能餐饮</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
